

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.title {
  margin-top: 25px;
  text-align: center;
}


h2 {
  font-size: 23px;
  margin-bottom: 7px;
}

.clock {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}


ul {
  list-style: none;
  margin: 12px 0px;
  padding: 0px;
}

li {
  display: inline;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

.selected {
  background-color: #686868;
  color: white;
}

article {
  padding: 10px 10px;
  border: 1px solid black;
  width: 248px;
  height: 60px;
  text-align: center;
}


.weather-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}

.weather-title {
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 110px 70px;
  border: 1px solid black;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-item {
  text-align: center;

}
